/* Estilos para index.html */

/* Estilos independientes del tamaño de la pantalla: */
.index * {
    margin:0px;
    padding: 0px;
    font-family: Helvetica;
}

.index body{
    display: flex;
    flex-direction: column;
}

.index .main a{
    /* reset: none; */
    text-decoration: none;
}

footer{
    height: 70px;
    width: 100%;
    background-color: #8DACE9;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    height: 60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: #8DACE9;
}

nav ul{
    background-color: #8DACE9;
    list-style-type: none;
    border-right: solid white 1px;
    color: white;
    vertical-align: middle;
    height: 60px;
    display:flex;
    align-items: center;
}

.materia{
    width: 33%;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.saludo{
    width: 33%;
    font-size: 15px;
    justify-content: center;
}

.busqueda{
    width: 33%;
    display: flex;
    justify-content: right;
    margin: 0px;
    border-right: none;
}

.busqueda input{
    border: #8DACE9;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 0px;
    height: 30px;
}

.busqueda button{
    color: #8DACE9;
    border: #8DACE9;
    vertical-align: middle;
    margin: 2px;
    padding:2px;
    height: 30px;
}

.main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    place-content: center;
}

.perfil{
    color: #8DACE9;
    /* display: inline-block; */
    font-size: 11.5px;
    text-align: center;
    background-color: #F5F5F5;
    box-shadow: gray 2px 2px 2px;
    height: 150px;
    width: 150px;
    margin: 20px;
    transition: background-color 0.1s;
}

.fotografia{
    margin: 10px;
}

/* Animacion: */
.perfil:hover{
    transform: scale(1.1) rotate(15deg);
    background-color: #99c5dd;
}

/* Estilo agregado para el mensaje de error al insertar nombre sin coincidencias: */
#mensajeErrorBusqueda{
    font-size: 20px;
    color: #8DACE9;
    margin: 15px;
}

/* Adaptaciones al tamaño de la pantalla con media Query's: */
/*Pantallas grandes & ordenadores de escritorio */
@media (min-width:1025px) and (max-width:1200px) {
    .main{
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;
        place-content: center;
    }
    .perfil{
        /* display: inline-block; */
        font-size: 17px;
        height: 150px;
        width: 150px;
        margin: 20px;
    }
    .fotografia{
        margin: 10px;
    }  
}

/* pantallas pequeñas & ordenadores portátiles */
@media (min-width:769px) and (max-width:1024px) {
    .main{
        grid-template-columns: auto auto auto;
    }
    .perfil{
        /* display: inline-block; */
        font-size: 17px;
        height: 150px;
        width: 150px;
        margin: 20px;
    }
    .fotografia{
        margin: 10px;
    } 
}

/*Pantalla de iPads & tablets */
@media (min-width: 481px) and (max-width:768px) {
    .main{
        grid-template-columns: auto auto;
    }
    .materia{
        padding-left: 3px;
        font-size: 17px;
    }

    .busqueda input{
        margin-right: 2px;
        padding-left: 2px;
        padding-right: 0px;
        padding-top: 0px;
        font-size: 10px;
        height: 20px;
        width: 80px;
    }
    
    .busqueda button{
        margin: 0px;
        padding:0px;
        height: 20px;
        font-size: 10px;
        width: 50px;
    }
    .saludo{
        /* padding: 5px; */
        font-size: 12px;
    }
    .perfil{
        /* display: inline-block; */
        font-size: 17px;
        height: 150px;
        width: 150px;
        margin: 20px;
    }
    .fotografia{
        margin: 10px;
    }
    
    footer{
        font-size: 12px;
    }
}

/*Pantalla de Dispositivos Moviles: */
 @media /*(min-width:320px) and */(max-width:480px) {

    .main{
        grid-template-columns: auto;
    }

    .materia{
        padding-left: 3px;
        font-size: 13px;
    }

    .saludo{
        font-size: 9px;
    }
    .busqueda{
        align-items: center;
    }

    .busqueda input{
        margin-right: 2px;
        padding-left: 2px;
        padding-right: 0px;
        font-size: 10px;
        height: 20px;
        width: 60px;
    }
    
    .busqueda button{
        margin: 0px;
        margin-right: 3px;
        padding:0px;
        height: 20px;
        font-size: 10px;
        width: 30px;
    }

    footer{
        font-size: 8px;
    }
    
}


/* Estilos para perfil.html */

/* Reglas de estilo independientes del tamaño de la pantalla: */
.tarjeta{
    display: flex;
    /* Como en las instrucciones del laboratorio el perfil esta
    alineado a la izquierda se decidio ponerlo de la misma forma. */
    justify-content: left;
}

/* Propiedades de la imagen (En cualquier tamaño): */
.MiFoto{
    border-top-left-radius: 50px;
    margin-right: 20px;
    width: 281px;
    height: auto;
}

/* Estilo de la tarjeta con mis datos: */
.MisDatos {
    display: flex;
    flex-direction: column;
    width: 52%;
    padding: 10px;
    border: black solid;
    box-shadow: 3px 3px 3px;
}

/* Estilo de los elementos en la tarjeta de datos: */
.MisDatos *{
    margin: 10px;
}

/* Estilo del titulo */
.MisDatos .miNombre{
    text-align: left;
    color: blue;
}

/* Estilo de mi descripcion */
.MisDatos .descripcion{
    text-align: justify;
    font-family: arial;
    font-style: italic;
}

/* Estilo de mis preferencias */
.MisDatos .misPreferencias{
    text-align: left;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* Estilos para el enlace al correo */
#CorreoContacto {
    /* enlace sin clickear */
    color: orange;
}
#CorreoContacto:visited {
    /*Enlace Clickeado */
    color: red;
}

.micorreo{
    text-align: left;
}

/*Pantalla de Dispositivos Moviles: */
@media (min-width:320px) and (max-width:480px) {

    .MiFoto{
        width: 25%;
        height: auto;
        margin-right: 0.2rem;
        src: url("28073233Pequena.jpg");
    }

    .MisDatos * {
        margin: 0.1rem;
    }
    .miNombre{
        font-size: 1em;
    }
    .descripcion, .misPreferencias {
        font-size: 0.3em;
    }

    .micorreo, .micorreo a{
        /* background-color: red; */
        font-size: 0.3em;
    }
}

/*Pantalla de iPads & tablets */
@media (min-width:481px) and (max-width:768px) {

    .MiFoto{
        width: 25%;
        height: auto;
        margin-right: 0.3rem;
        src: url("28073233Pequena.jpg");
    }

    .MisDatos * {
        margin: 0.2rem;
    }
    .miNombre{
        font-size: 1.5rem;
    }
    .descripcion, .misPreferencias {
        font-size: 0.6rem;
    }

    .micorreo, .micorreo a{
        /* background-color: red; */
        font-size: 0.55rem;
    }
}

/* pantallas pequeñas & ordenadores portátiles */
@media (min-width:769px) and (max-width:1024px) {

    .MiFoto{
        width: 25%;
        height: auto;
        margin-right: 0.3rem;
        src: url("28073233Grande.jpg");
    }

    .MisDatos * {
        margin: 0.2rem;
    }
    .miNombre{
        font-size: 2rem;
    }
    .descripcion, .misPreferencias {
        font-size: 0.9rem;
    }

    .micorreo, .micorreo a{
        /* background-color: red; */
        font-size: 0.7rem;
    }
}

/*Pantallas grandes & ordenadores de escritorio */
@media (min-width:1025px) and (max-width:1200px){

    .MiFoto{
        width: 25%;
        height: auto;
        margin-right: 0.3rem;
        src: url("28073233Grande.jpg");
    }

    .MisDatos * {
        margin: 0.2rem;
    }
    .miNombre{
        font-size: 2rem;
    }
    .descripcion, .misPreferencias {
        font-size: 0.9rem;
    }

    .micorreo, .micorreo a{
        /* background-color: red; */
        font-size: 0.7rem;
    }
}